body {
  padding: 0;
  margin: 0;
  height: 100svh;
  background-color: rgb(39, 39, 39);
  color: rgb(0, 0, 0);
  text-align: justify;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
}
