.main {
  /* background-image:url("../src/main.JPG");
    background-size: cover; 
    background-position: center; */
  background-color: #0056b3;
  height: 100vh;
  display: inline-block;
  width: 80%;
  position: relative;
  right: 0px;
  padding: 0;
  margin: 0;
}

.main-view {
  display: none;
}

.head {
  border-bottom: 2px solid rgb(0, 0, 0);
  word-wrap: break-word;
}

.scrol-list {
  list-style-type: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  scroll-behavior: smooth;
}

.scrol-list h3,
h1 {
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  white-space: pre-line;
}

.scrol-list h3 {
  font-size: 4vh;
  font-weight: normal;
  text-align: justify;
  white-space: normal;
}

.scrol-list h1 {
  font-size: 8vh;
  -webkit-text-stroke: 0.5px black;
}

.scrol-list > li {
  width: calc(100% - 22px);
  margin: 0px;
  padding: 10px;
  border: 1px solid white;
}

.scrol-list > li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.scrol-list > li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  right: 0px;
  float: right;
  scroll-behavior: smooth;
}

.internal-list {
  margin-top: 0;
  padding-left: 3%;
  list-style-type: circle;
  font-size: 4vh;
  /* font-weight: bold; */
  margin-bottom: 10px;
}

.skills {
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
  padding-left: 3%;
  list-style-type: square;
}

.contact-links {
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-links a {
  display: inline-block;
  width: 20%;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  text-decoration: none;
  color: #fff;

  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s, font-size 0.3s;
}

.contact-links a:hover {
  transform: scale(1.5);
  font-size: 1.2em;
}

.contant-image {
  width: 20%;
  height: 20%;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
}
